@import "tailwindcss";

@theme {
  --font-family: 'Inter', sans-serif;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-gray-100);
}